footer {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #131212;
}

footer a {
    text-decoration: none;
    width: 15%;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #D6D6D6;
}

.footer-logo {
    color: #fff329;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.footer-logo span {
    color: #007fb1;
}





