* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input, button {
    appearance: none;
    background: none;
    border: none;
    outline: none;
}

.form {
    display: flex;
    position: relative;
}

.form:after {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    z-index: 1;
    background-image: linear-gradient(to bottom right, #ffce00, #fe4880);
}

form .form-inner {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background-color: #DEDEDE;
    padding: 30px;
    border-radius: 15px;
}

form .form-inner h2 {
    color: #888;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
}

form .form-inner .form-group {
    display: block;
    width: 300px;
    margin-bottom: 15px;
}

.form-inner .form-group label {
    display: block;
    color: #666;
    font-size: 12px;
    margin-bottom: 5px;
    transition: 0.4s;
}

.form-inner .form-group:focus-within label {
    color: #007fb1;
}

form .form-inner .form-group input {
    display: block;
    width: 100%;
    padding: 10px 15px;
    background-color: #fff;
    border-radius: 8px;
    transition: 0.4s;
}

form .form-inner input[type="submit"],
     .welcome button {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 8px;
    background-image: linear-gradient(to right, #ffce00 50%, #ffce00 50%, #007fb1);
    background-size: 200%;
    background-position: 0%;
    transition: 0.4s;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

form .form-inner input[type="submit"]:hover,
     .welcome button:hover {
    background-position: 100% 0%;
}

.welcome-page {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background-color: #fefff9;
    padding: 30px;
}

.welcome {
    width: 100%;
    max-width: 480px;
    background-color: #DEDEDE;
    border-radius: 15px;
    padding: 15px 30px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.welcome h2 {
    color: #888;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
}

.welcome h2 span {
    color: #007FB1FF;
    font-weight: 700;
}